form{
	width:370px;
	padding:20px;
	border-radius:10px;
	margin:auto;
	background-color: #211f1f;
}
body{
    background-image: url("https://lh3.googleusercontent.com/proxy/g-t6ZEHYvF8GYghJK4RfrtgFtJ0XzdswxIrI6taqnZvC9jp527vBs5Lt-Gb-G-xse3QE2sI4ZoW-nv570w51CPhZlXbxMSwPzsJTSA");
}
.botonconlogo{
    width:2px ;
    height: 2px;
}
.btn{
    margin: auto;
}