form{
	width:320px;
    height: 530px;
	padding:20px;
	border-radius:20px;
	margin: auto;
    margin-top: 50px;
	background-color: #C39BD3;
}
.botonconlogo{
    width:2px ;
    height: 2px;
}
.btn{
    margin: auto;
    margin-top: 10px;
    }